// >>> Nav
$nav_contact_bg: #e74d58;
$get_qu_bg: #002e5b; 
$get_qu_color: rgb(233, 233, 233); 
// $get_qu_bg: #00264c;


// >> showcase
$showcase_heading_clor: #002e5b;
$showcase_heading_clor_1: #e74d58;
$showcase_lead_clor: #002e5b;
$showcase_sub_heading_clor: #999;
// $showcase_lead_clor: #00264c;


// >> showcase form
$showcase_get_qu_bg: #e74d58;
$showcase_get_qu_clor: #fff;

// >> section ====>
    // >> about us
    $about_us_bg: #002e5b;
    $about_section_name_clor: #ddd;
    $about_section_heading_clor: #ddd;
    $about_section_lead_clor: #ddd;
    $about_section_num_heading_clor: #ddd;
    $about_section_num_clor: #ddd;
    $about_section_business_inside_bg: #00264c;
    $about_section_business_inside_clor: #fff;
    $about_section_play_btn_cirlce_bg: #e74d58;
    

    // >> services
    $services_section_heading_clor: #002e5b;
    $services_section_lead_clor: #afafaf;

    // >> counter
    $counter_bar_bg: #002e5b;
    $counter_bar_number_color: #fff;
    $counter_bar_text_color: rgb(175, 175, 175);

    // >> features 
    $features_sub_heading_color: #e74d58;
    $features_heading_color: #002e5b;
    $features_grid_sub_heading: #a7a7a7;
    $features_grid_heading: #002e5b;
    $features_grid_lead_color: #858585; 

    // >> get support
    $get_support_sub_heading_color: #ddd;
    $get_support_heading: #fefefe;
    $get_support_number_color: #e74d58;
    $get_support_button_color: #fefefe;


    // >> team member
    $team_member_section_heading_color: #002e5b;
    $team_member_section_sub_heading_color: #e74d58;
    $team_member_work_name_color: #e74d58;
    $team_member_heading_color: #002e5b;
    $team_member_lead_color: #7a7a7a;
    $social_twitter_bg: #e74d58;


    // >> clients
    $client_bg: #002e5b;

    // >> Why choose
    $why_choose_before_bg: #f5f5f5;
    $why_choose_card_sub_heading_color: #e74d58;
    $why_choose_card_heading_color: #002e5b;
    $why_choose_case_heading_color: #002e5b;
    $why_choose_case_lead_color: #33333393;


    // >> newsletter 
    $news_latter_card_bg: #00264c;
    $news_latter_card_context_bg: #002e5b;
    $news_latter_heading_color: #fff;
    $news_latter_sub_heading_color: #e74d58;
    $newslater_input_bg: #00264c;
    $newslater_button_bg: #e74d58;
    $newslater_button_color: #fff;


    // >> footer 
    $footer_bg: #002e5b;
    $footer_copy_bg: #00264c;
    $footer_copy_color: rgb(240, 240, 240);
    $footer_heading_color: #fff;
    $footer_lead_color: #ccc;
    $footer_link_color: rgb(168, 168, 168);
    $footer_number_color: rgb(255, 255, 255);
    $footer_number_text_color: #ccc;
    $footer_address_color: #ddd;

// >> def color
$default_color_wh: rgb(252, 249, 249);
$default_color_blk: #333;


// >> base padding
$base_padding_lft_rgt: 0 0.75rem;