@import "./components/variable";
@import "./components/base";
@import "./components/elements/nav_contact";
@import "./components/elements/wide_nav";
@import "./components/elements/showcase";
@import "./components/elements/section";
@import "./components/elements/footer";



._loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 11;
    transition: 0.3s;
}