* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

._container {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

._content {
  padding: 0 0.75rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

._text_normal {
  font-weight: normal;
}

._text_bold {
  font-weight: bold;
}

._text_upcs {
  text-transform: uppercase;
}

._pre_wrap {
  white-space: pre-wrap;
}

._select_non {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

._outl_non {
  outline: none;
}

._flx {
  display: flex;
}
._flx_1 {
  flex: 1;
}
._flx_dir_cl {
  flex-direction: column;
}
._flx_dir_cl_rev {
  flex-direction: column-reverse;
}
._flx_al_st {
  align-items: flex-start;
}
._flx_al_ce {
  align-items: center;
}
._flx_al_en {
  align-items: flex-end;
}
._flx_al_bls {
  align-items: baseline;
}
._flx_al_str {
  align-items: stretch;
}
._flx_ju_def_st {
  justify-content: start;
}
._flx_ju_st {
  justify-content: flex-start;
}
._flx_ju_ce {
  justify-content: center;
}
._flx_ju_en {
  justify-content: flex-end;
}
._flx_ju_fbsl {
  justify-content: first baseline;
}
._flx_ju_bsl {
  justify-content: baseline;
}
._flx_ju_lbsl {
  justify-content: last baseline;
}
._flx_ju_spar {
  justify-content: space-around;
}
._flx_ju_spbt {
  justify-content: space-between;
}
._flx_ju_spev {
  justify-content: space-evenly;
}
._flx_ju_lft {
  justify-content: left;
}
._flx_ju_rgt {
  justify-content: right;
}

._nav_contact {
  height: 40px;
  background-color: #e74d58;
}
._nav_contact ._content {
  height: 40px;
}
._nav_contact ._content ._lang_and_contact_details ._lang {
  margin-right: 1rem;
}
._nav_contact ._content ._lang_and_contact_details ._lang #_selsect_lang {
  color: #fafafa;
  background-color: transparent;
  border: none;
}
._nav_contact ._content ._lang_and_contact_details ._lang #_selsect_lang option {
  color: #333;
}
._nav_contact ._content ._lang_and_contact_details ._contact_email ._email {
  height: 22px;
  line-height: 22px;
  color: #fafafa;
}
._nav_contact ._content ._lang_and_contact_details ._contact_email ._email ._icon {
  margin-right: 0.5rem;
  font-size: 22px;
  margin-bottom: 4px;
}
._nav_contact ._content ._socail_and_get_qu ._social ul li {
  padding: 0 0.3rem;
}
._nav_contact ._content ._socail_and_get_qu ._social ._icon {
  font-size: 21px;
  color: #fafafa;
}
._nav_contact ._content ._socail_and_get_qu ._get_qu {
  margin-left: 1rem;
}
._nav_contact ._content ._socail_and_get_qu ._get_qu ._get_qu_btn {
  display: inline-block;
  line-height: 40px;
  background-color: #002e5b;
  color: rgb(233, 233, 233);
  padding: 0 28px;
  text-transform: uppercase;
  font-size: 15px;
}

._wide_nav {
  padding: 1.5rem 0;
  box-shadow: 0px 1px 5px rgba(204, 204, 204, 0.384);
}
._wide_nav ._links_and_free_call_num ._links {
  padding: 0 1.75rem;
}
._wide_nav ._links_and_free_call_num ._links li a {
  padding: 0 0.75rem;
  font-weight: bold;
}
._wide_nav ._links_and_free_call_num ._free_call_num ._icon img {
  width: 40px;
}
._wide_nav ._links_and_free_call_num ._free_call_num ._num_text {
  margin-left: 0.5rem;
}
._wide_nav ._links_and_free_call_num ._free_call_num ._num_text ._num {
  font-weight: bold;
  font-size: 20px;
  color: #e74d58;
}
._wide_nav ._links_and_free_call_num ._free_call_num ._num_text ._text {
  font-size: 12px;
  color: #ccc;
}

._showcase {
  height: calc(100vh - 126.78px);
  width: 100%;
}
._showcase ._container {
  height: 100%;
}
._showcase ._content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 0.75rem;
}
._showcase ._content ._showcase_background {
  width: 100%;
  height: 100%;
}
._showcase ._content ._showcase_background img {
  width: 70%;
  height: 100%;
  vertical-align: middle;
}
._showcase ._content ._showcase_image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 0.75rem;
}
._showcase ._content ._showcase_image ._context_img {
  height: 90%;
  width: 100%;
  padding-right: 10%;
}
._showcase ._content ._showcase_image ._context_img img {
  pointer-events: none;
  height: 85%;
  max-width: 55%;
  max-height: 85%;
  width: 55%;
  min-height: 85%;
  min-width: 55%;
  box-shadow: 2px 2px 5px #ccc;
  -o-object-fit: cover;
     object-fit: cover;
}
._showcase ._content ._showcase_context {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
._showcase ._content ._showcase_context ._context {
  padding: 0 0.75rem;
}
._showcase ._content ._showcase_context ._context ._sub_heading {
  margin-bottom: 0.75rem;
  color: #999;
}
._showcase ._content ._showcase_context ._context ._heading {
  font-size: 75px;
  margin-bottom: 1.75rem;
  color: #002e5b;
}
._showcase ._content ._showcase_context ._context ._heading ._investment {
  color: #e74d58;
}
._showcase ._content ._showcase_context ._context ._lead {
  font-size: 18px;
  margin-bottom: 2rem;
  color: #002e5b;
}
._showcase ._content ._showcase_context ._context ._get_qu_form ._input_group {
  background-color: #fff;
  box-shadow: 2px 2px 4px #ccc;
  border-radius: 30px;
  padding: 0.5rem;
  max-width: 550px;
}
._showcase ._content ._showcase_context ._context ._get_qu_form ._input_group ._form_control {
  padding: 0.75rem 1.5rem;
  font-size: 17px;
  border: none;
  background-color: transparent;
}
._showcase ._content ._showcase_context ._context ._get_qu_form ._input_group ._get_qu_form_btn {
  padding: 0 36px;
  height: 44px;
  border-radius: 30px;
  border: none;
  background-color: #e74d58;
  color: #fff;
}

._about_us {
  background-color: #002e5b;
}
._about_us ._content {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 8rem;
}
._about_us ._section_name_and_heading ._section_name {
  margin-bottom: 0.75rem;
  color: #ddd;
}
._about_us ._section_name_and_heading ._heading {
  font-size: 65px;
  color: #ddd;
}
._about_us ._section_lead_and_number ._lead {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1.75rem;
  color: #ddd;
}
._about_us ._section_lead_and_number ._lead_part {
  margin-bottom: 0.75rem;
}
._about_us ._section_lead_and_number ._num_and_num_heading ._num_heading {
  font-size: 15px;
  margin-bottom: 0.5rem;
  color: #ddd;
}
._about_us ._section_lead_and_number ._num_and_num_heading ._num {
  font-size: 32px;
  color: #ddd;
}
._about_us ._business_inside {
  position: absolute;
  left: 0;
  bottom: 0;
}
._about_us ._business_inside ._business_inside_button {
  display: inline-block;
  min-width: 350px;
  padding: 2rem;
  background-color: #00264c;
  color: rgb(252, 249, 249);
  font-size: 20px;
}
._about_us ._business_inside ._business_inside_button ._play_button_circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #e74d58;
  font-size: 20px;
}

._services {
  position: relative;
}
._services::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background-color: rgba(204, 204, 204, 0.089);
  z-index: -1;
}
._services ._content {
  padding: 6rem 0;
  z-index: 1111;
}
._services ._content ._services_card {
  box-shadow: 2px 5px 20px rgba(204, 204, 204, 0.247);
  width: 80%;
  background-color: #fff;
}
._services ._content ._services_card ._services_card_content {
  padding: 4.5rem;
}
._services ._content ._services_card ._services_card_content ._card_grid_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}
._services ._content ._services_card ._services_card_content ._card_grid_items ._card_grid_item ._card_service_icon_and_num {
  margin-right: 1.75rem;
}
._services ._content ._services_card ._services_card_content ._card_grid_items ._card_grid_item ._card_service_icon_and_num ._icon {
  margin-bottom: 1.5rem;
}
._services ._content ._services_card ._services_card_content ._card_grid_items ._card_grid_item ._card_context ._card_context_heading {
  font-size: 25px;
  margin-bottom: 0.5rem;
  color: #002e5b;
}
._services ._content ._services_card ._services_card_content ._card_grid_items ._card_grid_item ._card_context ._card_context_lead {
  width: 90%;
  line-height: 1.5;
  color: #afafaf;
}

._counter ._counter_bar {
  background-color: #002e5b;
}
._counter ._counter_bar ._counter_bar_item {
  padding: 2.75rem 0;
}
._counter ._counter_bar ._counter_bar_item ._item_icon img {
  vertical-align: middle;
}
._counter ._counter_bar ._counter_bar_item ._counter_number_and_text {
  margin-left: 0.75rem;
}
._counter ._counter_bar ._counter_bar_item ._counter_number_and_text ._number {
  margin-bottom: 0.5rem;
  color: #fff;
}
._counter ._counter_bar ._counter_bar_item ._counter_number_and_text ._number ._number_length {
  font-size: 50px;
  line-height: 0.8;
}
._counter ._counter_bar ._counter_bar_item ._counter_number_and_text ._text {
  font-size: 14px;
  color: rgb(175, 175, 175);
}

._features {
  padding: 8rem 0;
}
._features ._features_sub_heading {
  font-size: 14px;
  margin-bottom: 0.75rem;
  text-align: center;
  color: #e74d58;
}
._features ._features_heading {
  font-size: 55px;
  margin-bottom: 2rem;
  text-align: center;
  color: #002e5b;
}
._features ._features_grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}
._features ._features_grids ._features_grid_item ._features_img {
  height: 250px;
  background-color: rgba(206, 206, 206, 0.219);
  margin-bottom: 0.75rem;
}
._features ._features_grids ._features_grid_item ._feature_grid_item_context ._sub_heading {
  font-size: 14px;
  color: #a7a7a7;
  margin-bottom: 0.5rem;
}
._features ._features_grids ._features_grid_item ._feature_grid_item_context ._heading {
  font-size: 32px;
  margin-bottom: 0.75rem;
  color: #002e5b;
}
._features ._features_grids ._features_grid_item ._feature_grid_item_context ._heading_bottom_line {
  height: 1px;
  width: 100%;
  background-color: #ddd;
}
._features ._features_grids ._features_grid_item ._feature_grid_item_context ._lead {
  color: #858585;
  margin-top: 1.2rem;
  line-height: 1.6;
}

._get_support {
  padding: 8rem 0;
  background: linear-gradient(to right, #333, #b1b1b1);
}
._get_support ._get_support_sub_heading {
  font-size: 15px;
  margin-bottom: 0.75rem;
  color: #ddd;
}
._get_support ._get_support_heading {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #fefefe;
}
._get_support ._number {
  color: #e74d58;
  font-size: 62px;
  margin-bottom: 2rem;
}
._get_support ._get_appointment {
  display: inline-block;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  padding: 0 36px;
  box-shadow: 0 0 0 0.1rem #fefefe;
  border-radius: 40px;
  color: #fefefe;
  cursor: pointer;
}

._team {
  padding: 6rem 0;
}
._team ._team_section_sub_heading {
  font-size: 15px;
  text-align: center;
  margin-bottom: 0.75rem;
  color: #e74d58;
}
._team ._team_section_heading {
  font-size: 60px;
  margin-bottom: 2.75rem;
  text-align: center;
  color: #002e5b;
}
._team ._team_members {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}
._team ._team_members ._team_member ._team_member_img {
  height: 300px;
  background-color: #f0f0f0;
  margin-bottom: 0.5rem;
}
._team ._team_members ._team_member ._team_member_img img {
  vertical-align: middle;
}
._team ._team_members ._team_member ._social {
  position: relative;
}
._team ._team_members ._team_member ._social ._social_media_link {
  position: absolute;
  right: 10px;
  top: 0;
}
._team ._team_members ._team_member ._social ._social_media_link ._show_button {
  position: relative;
  top: -30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;
  color: #868686;
  cursor: pointer;
}
._team ._team_members ._team_member ._social ._social_media_link ._links {
  position: absolute;
  top: -215px;
}
._team ._team_members ._team_member ._social ._social_media_link ._links ._link_button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 18px;
  color: rgb(172, 172, 172);
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
}
._team ._team_members ._team_member ._social ._social_media_link ._links ._link_button:not(:last-child) {
  margin-bottom: 0.75rem;
}
._team ._team_members ._team_member ._social ._social_media_link ._links ._link_button:nth-child(2) {
  background-color: #e74d58;
  color: #fff;
}
._team ._team_members ._team_member ._team_member_context {
  padding: 0.85rem 0;
}
._team ._team_members ._team_member ._team_member_context ._team_member_work_name {
  font-size: 14px;
  color: #e74d58;
  margin-bottom: 0.5rem;
}
._team ._team_members ._team_member ._team_member_context ._team_member_heading {
  color: #002e5b;
  margin-bottom: 1rem;
}
._team ._team_members ._team_member ._team_member_context ._team_member_heading_bottom_line {
  height: 1px;
  width: 100%;
  background-color: #f0f0f0;
}
._team ._team_members ._team_member ._team_member_context ._team_member_lead {
  margin-top: 1rem;
  line-height: 1.5;
  color: #7a7a7a;
}

._clients {
  padding: 2.5rem 0;
  background-color: #002e5b;
}
._clients ._clients_links ._client a ._client_logo {
  vertical-align: middle;
}

._why_choose {
  position: relative;
  padding: 6rem 0;
}
._why_choose::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  background-color: #f5f5f5;
  z-index: -1;
}
._why_choose ._why_choose_card ._why_choose_card_content {
  padding: 1.5rem;
}
._why_choose ._why_choose_card ._why_choose_card_content ._card_img {
  background-color: #ccc;
  flex: 1;
}
._why_choose ._why_choose_card ._why_choose_card_content ._card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}
._why_choose ._why_choose_card ._why_choose_card_content ._card_context {
  margin-left: 2.5rem;
  flex: 1.6;
}
._why_choose ._why_choose_card ._why_choose_card_content ._card_context ._card_context_sub_heading {
  font-size: 14px;
  margin-bottom: 0.4rem;
  color: #e74d58;
}
._why_choose ._why_choose_card ._why_choose_card_content ._card_context ._card_context_heading {
  font-size: 60px;
  margin-bottom: 2rem;
  color: #002e5b;
}
._why_choose ._why_choose_card ._why_choose_card_content ._card_context ._choose_case ._case:not(:last-child) {
  margin-bottom: 1.75rem;
}
._why_choose ._why_choose_card ._why_choose_card_content ._card_context ._choose_case ._case ._case_icon {
  height: 60px;
  width: 60px;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgb(235, 235, 235);
}
._why_choose ._why_choose_card ._why_choose_card_content ._card_context ._choose_case ._case ._case_icon img {
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
._why_choose ._why_choose_card ._why_choose_card_content ._card_context ._choose_case ._case ._case_context {
  margin-left: 1.5rem;
}
._why_choose ._why_choose_card ._why_choose_card_content ._card_context ._choose_case ._case ._case_context ._case_heading {
  margin-bottom: 0.75rem;
  color: #002e5b;
}
._why_choose ._why_choose_card ._why_choose_card_content ._card_context ._choose_case ._case ._case_context ._case_lead {
  font-size: 15px;
  width: 60%;
  line-height: 1.6;
  color: rgba(51, 51, 51, 0.5764705882);
}

._newsletter ._newsletter_card {
  flex-basis: 90%;
  background-color: #00264c;
  margin-bottom: 6rem;
}
._newsletter ._newsletter_card ._newsletter_context {
  position: relative;
  flex: 1.2;
  padding: 4.5rem;
  background-color: #002e5b;
}
._newsletter ._newsletter_card ._newsletter_context ._back_ground_image {
  position: absolute;
  right: 60px;
  top: 40px;
  transform: rotate(-10deg);
}
._newsletter ._newsletter_card ._newsletter_context ._context_content {
  position: relative;
  z-index: 1;
}
._newsletter ._newsletter_card ._newsletter_context ._context_content ._newsletter_sub_heading {
  font-size: 14px;
  margin-bottom: 0.75rem;
  color: #e74d58;
}
._newsletter ._newsletter_card ._newsletter_context ._context_content ._newsletter_heading {
  font-size: 55px;
  margin-bottom: 1.75rem;
  color: #fff;
}
._newsletter ._newsletter_card ._newsletter_context ._context_content ._subscribe_form ._input_group {
  width: 80%;
  height: 42px;
  border-radius: 30px;
  background-color: #00264c;
}
._newsletter ._newsletter_card ._newsletter_context ._context_content ._subscribe_form ._input_group ._form_control {
  flex: 1;
  border: none;
  height: 42px;
  padding: 0 20px;
  border-radius: 30px 0 0 30px;
  background-color: transparent;
  color: #fff;
}
._newsletter ._newsletter_card ._newsletter_context ._context_content ._subscribe_form ._input_group ._button {
  height: 42px;
  line-height: 42px;
  font-size: 12px;
  padding: 0 36px;
  border: none;
  border-radius: 30px;
  background-color: #e74d58;
  color: #fff;
}
._newsletter ._newsletter_card ._newsletter_context ._context_content ._subscribe_form ._input_group ._button i {
  font-size: 16px;
}
._newsletter ._newsletter_card ._newsletter_context ._context_content ._subscribe_form ._input_group ._button span {
  margin-left: 0.5rem;
}
._newsletter ._newsletter_card ._newsletter_blank {
  flex: 1;
}

._footer {
  background-color: #002e5b;
}
._footer ._footer_context {
  padding: 5rem 0;
}
._footer ._footer_context ._grid_items {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}
._footer ._footer_context ._grid_items ._grid_item ._brand_logo {
  margin-bottom: 1rem;
}
._footer ._footer_context ._grid_items ._grid_item ._lead {
  margin-bottom: 2rem;
  line-height: 1.6;
  color: #ccc;
}
._footer ._footer_context ._grid_items ._grid_item ._free_call ._free_call_icon img {
  vertical-align: middle;
}
._footer ._footer_context ._grid_items ._grid_item ._free_call ._call_num_text {
  margin-left: 0.75rem;
}
._footer ._footer_context ._grid_items ._grid_item ._free_call ._call_num_text ._num {
  font-size: 28px;
  color: rgb(255, 255, 255);
}
._footer ._footer_context ._grid_items ._grid_item ._free_call ._call_num_text ._text {
  font-size: 14px;
  color: #ccc;
}
._footer ._footer_context ._grid_items ._grid_item ._heading {
  margin-bottom: 1.75rem;
  color: #fff;
}
._footer ._footer_context ._grid_items ._grid_item ._footer_link_items ._footer_link_item {
  margin-bottom: 1.5rem;
}
._footer ._footer_context ._grid_items ._grid_item ._footer_link_items ._footer_link_item a {
  color: rgb(168, 168, 168);
}
._footer ._footer_context ._grid_items ._grid_item ._footer_link_items ._footer_link_item a:hover {
  text-decoration: underline;
}
._footer ._footer_context ._grid_items ._grid_item ._address ._address_item {
  margin-bottom: 2rem;
}
._footer ._footer_context ._grid_items ._grid_item ._address ._address_item ._icon {
  padding: 0.2rem 0;
}
._footer ._footer_context ._grid_items ._grid_item ._address ._address_item ._icon img {
  vertical-align: middle;
}
._footer ._footer_context ._grid_items ._grid_item ._address ._address_item ._address_text, ._footer ._footer_context ._grid_items ._grid_item ._address ._address_item ._email_link {
  line-height: 1.6;
  margin-left: 1.75rem;
  color: #ddd;
}
._footer ._footer_context ._grid_items ._grid_item ._address ._address_item ._email_link {
  color: rgb(168, 168, 168);
}
._footer ._footer_context ._grid_items ._grid_item ._address ._address_item ._email_link:hover {
  text-decoration: underline;
}
._footer ._footer_copy {
  padding: 1.5rem 0;
  background-color: #00264c;
}
._footer ._footer_copy ._copy_text {
  color: rgb(240, 240, 240);
}
._footer ._footer_copy ._link ._gray {
  display: inline-block;
  color: gray;
  padding: 0 0.75rem;
}
._footer ._footer_copy ._link a {
  color: #fff;
}

._loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 11;
  transition: 0.3s;
}/*# sourceMappingURL=style.css.map */