._wide_nav {
    padding: 1.5rem 0;
    box-shadow: 0px 1px 5px rgba(204, 204, 204, 0.384);
    
    ._brand_logo {

    }

    ._links_and_free_call_num {

        ._links {
            padding: 0 1.75rem;

            li {
                a {
                    padding: 0 0.75rem;
                    font-weight: bold;
                }
            }
        }

        ._free_call_num {
            ._icon {
                img {
                    width: 40px;
                }
            }

            ._num_text {
                margin-left: 0.5rem;
                ._num {
                    font-weight: bold;
                    font-size: 20px;
                    color: #e74d58;
                }

                ._text {
                    font-size: 12px;
                    color: #ccc;
                }
            }
        }
    }
}